# Exploratory Data Analysis

## Requirements

In [1]:
#load necesary libraries
import pandas as pd
import os
import csv
import glob

## For all stocks

In [2]:
csv_path = "../stock_forecasting/stock_data/Compiled/all_stocks_2006-01-01_to_2018-01-01.csv"
df = pd.read_csv(csv_path)

In [3]:
df

             Date   Open   High    Low  Close    Volume  Name
0      2006-01-03  77.76  79.35  77.24  79.11   3117200   MMM
1      2006-01-04  79.49  79.49  78.25  78.71   2558000   MMM
2      2006-01-05  78.41  78.65  77.56  77.99   2529500   MMM
3      2006-01-06  78.64  78.90  77.64  78.63   2479500   MMM
4      2006-01-09  78.50  79.83  78.46  79.02   1845600   MMM
...           ...    ...    ...    ...    ...       ...   ...
93607  2017-12-22  71.42  71.87  71.22  71.58  10979165  AABA
93608  2017-12-26  70.94  71.39  69.63  69.86   8542802  AABA
93609  2017-12-27  69.77  70.49  69.69  70.06   6345124  AABA
93610  2017-12-28  70.12  70.32  69.51  69.82   7556877  AABA
93611  2017-12-29  69.79  70.13  69.43  69.85   6613070  AABA

[93612 rows x 7 columns]